<h2>Player</h2>
<div id="player" class="player">
    <h3 class="player__title">{ $song.url ? $song.title : 'No sound selected' }</h3>
    <h3 class="player__url">{ $song.url ? $song.url : 'No sound selected' }</h3>
  <div class="player__duration">{ $song.url ? format(duration) : format() }</div>
  <div class="player__current">{ $song.url ? format(time) : format() }</div>
  <button type="button" class="player__play" on:click=toggleSound() disabled={!duration}>{ playing ? 'Stop' : 'Play' }</button>
  <button type="button" on:click=seekSound() disabled={ !duration } class="player__seek">Seeek</button>
  <div class="volume" id="volume" on:click=setVolume(event) on:mousemove=setVolume(event)>
    <div class="volume__bar" style="width: { volume * 100 }%"></div>
  </div>
  <div class="progress">
    <div class="progress__bar" style="width:{ percent }%"></div>
  </div>
</div>


<script>
  import { format } from '../helpers';
  import { Howl, Howler } from 'howler';

  export default {
    helpers: {
      format
    },
    computed: {
      percent: ({ time, duration }) => (time / duration * 100).toFixed(2) || 0
    },
    data() {
      return {
        duration: 0,
        time: 0,
        playing: false,
        pollingSong: false,
        volume: .5
      }
    },
    oncreate() {
      Howler.volume(this.get().volume);
      const createCurrentSong = () => {
        const playing = this.get().playing;
        return new Howl({
            src: [this.store.get().song.url],
            xhrWithCredentials: true,
            preload: true,
            html5: false,
            pool: 0,
            onload: () => {
              this.set({duration: this.currentSound.duration()});

              if (playing) {
                this.playSound();
              }
            },
            onend: () => {
              this.set({ pollingSong: true });
              const { playlist } = this.store.get();
              loadNewSong({}, playlist);
            }
          });
      }

      const loadNewSong = (song = {}, playlist = []) => {
        if (Object.keys(song).length || !playlist.length) {
          return;
        }

        this.store.set({ song: playlist[0] })
        playlist.shift();
        this.store.set({ playlist });
        this.currentSound = createCurrentSong();
      }

      const stateListener = this.store.on('state', ({ changed, current, previous }) => {
        const isCurrentSongEmpty = Object.keys(current.song).length === 0;

        if (changed.playlist) {
          loadNewSong(current.song, current.playlist);
        }

        if(changed.song && isCurrentSongEmpty && this.currentSound) {
          // this.currentSound.unload();
        }

        if (changed.song && !isCurrentSongEmpty) {
          this.currentSound = createCurrentSong();
        }
      });

    this.on('destroy', stateListener.cancel);

    const { song, playlist } = this.store.get();
    loadNewSong(song, playlist);
    },

    methods: {
      toggleSound: function() {
         this.get().playing ? this.stopSound() : this.playSound();
      },

      playSound: function() {
        this.currentSound.play();
        this.set({ playing: true });
        this.set({ pollingSong: false });

        const pollingSongData = setInterval(() => {
          if (this.get().pollingSong) {
            this.set({time: 0 });
            clearInterval(pollingSongData);
          } else {
            this.set({time: this.currentSound.seek()});
          }
        }, 200);
      },

      stopSound: function() {
        this.currentSound.stop();
        this.set({ playing: false });
      },

      seekSound: function() {
        this.currentSound.seek(this.currentSound.seek() + 30);
      },

      setVolume: function(event) {
        console.log(event.type, event.buttons)
        if (event.type === 'mousemove' && event.buttons !== 1) {
          return;
        }
        const target = document.querySelector('#volume').getBoundingClientRect();
        const position = event.pageX - target.left;
        const volume  = position / target.width;
        this.set({ volume });
        Howler.volume(volume);
      }
    }

  };
</script>

<style>
  .progress {
    background: #aaa;
    height: 50px;
    width: 200px;
  }

  .progress__bar {
    background: #444;
    height: 50px;
    width: 0;
  }

  .volume {
    background: #ddd;
    height: 20px;
    margin-bottom: 10px;
    width: 200px;
  }

  .volume__bar {
    height: 20px;
    background: steelblue;
  }

</style>
