<div id="player" class="player">
  <audio src={ $song.url } controls bind:duration=duration bind:paused></audio>
  <h3 class="player__title">{ $song.url ? $song.url : 'No sound selected' }</h3>
  <div class="player__duration">{ $song.url ? format(duration) : format() }</div>
  <button type="button" class="player__play" on:click='set({paused: !paused})'>{ paused ? 'Play' : 'Pause' }</button>
</div>


<script>
  const pad = num => num < 10 ? '0' + num : num;
  export default {
    helpers: {
      format: time => {
        if (isNaN(time)) return '--:--:--';
        const hours = Math.floor(time / (60 * 60))
        const minutes = Math.floor((time / 60) % 60);
        const seconds = Math.ceil((time % 60));
        return `${pad(hours)}:${pad(minutes)}:${pad(seconds)}`;
      }
    },
    data() {
      return { duration: 0, paused: true }
    }
  };
</script>
