<h2>Playlist</h2>
<button type="button" class="playlist__clear" on:click="removeAllSongs()">Clear</button>
<ul class="playlist">
  {#each $playlist as song}
    <li class="song">
      <h3 class="song__title">{ song.title }</h3> { song.url }
      <span class="song__duration"> { format(song.duration) }</span>
      <button type="button" class="song__clear" on:click="removeSong(song.url)">Clear</button>
    </li>
  {:else}
    <li>Choose one song</li>
    {/each}
</ul>
<svelte:window on:beforeunload=setCurrentData()/>
<script>
  import { format } from '../helpers';

  export default {
    helpers: {
      format
    },

    methods: {
      removeAllSongs: function() {
        this.store.set({ playlist: [] });
      },
      removeSong: function(songUrl) {
        const originalPlaylist = this.store.get().playlist;
        const playlist = originalPlaylist.filter(song => song.url !== songUrl);
        this.store.set({ playlist });
      },

      setCurrentData: function() { // TODO: tests
        const { playlist } = this.store.get();
        if (!playlist.length) {
          localStorage.removeItem('tilosStorePlaylist');
          return;
        }
        localStorage.setItem('tilosStorePlaylist', JSON.stringify(playlist));
      }
    }
  }
</script>
