<h2>Player</h2>
<div id="player" class="player">
    <h3 class="player__title">{ $song.url ? $song.title : 'No sound selected' }</h3>
    <h3 class="player__url">{ $song.url ? $song.url : 'No sound selected' }</h3>
  <div class="player__duration">{ $song.url ? format(duration) : format() }</div>
  <div class="player__current">{ $song.url ? format(time) : format() }</div>
  <button type="button" class="player__play" on:click=toggleSound() disabled={!duration}>{ playing ? 'Pause' : 'Play' }</button>
  <button type="button" on:click=seekSound() disabled={!duration} class="player__seek">Seeek</button>
  <div class="progress">
    <div class="progress__bar" style="width:{ percent }%"></div>
  </div>
</div>


<script>
  import { format } from '../helpers';
  import { Howl } from 'howler';

  export default {
    helpers: {
      format
    },
    computed: {
      percent: ({ time, duration }) => (time / duration * 100).toFixed(2) || 0
    },
    data() {
      return {
        duration: 0,
        time: 0,
        paused: true,
        playing: false
      }
    },
    oncreate() {
      const loadNewSong = (song, playlist) => {
        const isCurrentSongEmpty = Object.keys(song).length === 0;
        if (!isCurrentSongEmpty || !playlist.length) {
          return;
        }

        this.store.set({ song: playlist[0] })
        playlist.shift();
        this.store.set({ playlist });
      }

      const stateListener = this.store.on('state', ({ changed, current, previous }) => {
        const isCurrentSongEmpty = Object.keys(current.song).length === 0;
        if(changed.playlist) {
          loadNewSong(current.song, current.playlist);
        }

        if(changed.song && !isCurrentSongEmpty) {
          this.currentSound =new Howl({
            src: [this.store.get().song.url],
            xhrWithCredentials: true,
            preload: true,
            html5: false,
            pool: 0,
            onend: () => {
              const { playlist } = this.store.get();
              loadNewSong({}, playlist);
            },
            onload: () => {
              this.set({duration: this.currentSound.duration()});
            }
          });
        }
      });
      this.on('destroy', stateListener.cancel);

      const { song, playlist } = this.store.get();
      loadNewSong(song, playlist);
    },

    methods: {
      toggleSound: function() {
        const { playing } = this.get();
        if(playing) {
          this.stopSound();
        } else {
          this.playSound()
        }
      },
      playSound: function() {
        this.currentSound.play();
        const interval = setInterval(() => {
          const playing = this.currentSound.playing();
          this.set({ playing });

          if(!playing) {
            this.set({time: 0 });
            clearInterval(interval);
          } else {
            this.set({duration: this.currentSound.duration()});
            this.set({time: this.currentSound.seek()});
          }
        }, 200);
      },
      stopSound: function() {
        this.currentSound.stop();
        this.set({playing: this.currentSound.playing()});
      },
      seekSound: function() {
        this.currentSound.seek(this.currentSound.seek() + 60);
      }
    }
  };
</script>

<style>
  .progress {
    width: 200px;
    background: #aaa;
    height: 50px;
  }

  .progress__bar {
    background: #444;
    height: 50px;
    width: 0;
  }
</style>
